<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <hr class="has-background-black">
                            <br />
                            <h2>HIFI-COMMUNITY PAGE</h2>
                    </div>
                    <div class="container columns is-centered">
                        <hr class="has-background-black">
                            <br />
                            <h3>Inspired by the great DE_Community...</h3>
                    </div> <br />
                    <div class="container columns is-centered">
                    <img src="/assets/images/logosnake.png">
                    </div>
                    <div class="container columns is-centered">
                        <hr class="has-background-black">
                            <br />
                            <h3>OPEN for everyone.</h3>
                    </div> <br />
                    <div class="container columns is-centered">
                        <hr class="has-background-black">
                            <br />
                            <h4>Contribute? Ask: gf @ zerohat . net</h4>
                    </div> <br />
                </div>
                </div>
            </div>
        </div>
</section>